- hosts: all
  strategy: free
  name: Configuring all tenants in vxlan_config file
  gather_facts: no
  tasks:
    - name: Give hosts from VXLAN_SITE_TENANT_1 tenant role
      vars:
        tenant_tmp_var: VXLAN_SITE_TENANT_1
      include_role:
        name: tenant
        vars_from: VXLAN_SITE_TENANT_1
      when: tenant_tmp_var in group_names
    - name: Give hosts from VXLAN_SITE_TENANT_2 tenant role
      vars:
        tenant_tmp_var: VXLAN_SITE_TENANT_2
      include_role:
        name: tenant
        vars_from: VXLAN_SITE_TENANT_2
      when: tenant_tmp_var in group_names
    - name: Give hosts from VXLAN_SITE_TENANT_3 tenant role
      vars:
        tenant_tmp_var: VXLAN_SITE_TENANT_3
      include_role:
        name: tenant
        vars_from: VXLAN_SITE_TENANT_3
      when: tenant_tmp_var in group_names
