- name: Set hostname
  tags:
    - setup
  nxos_system:
    hostname: "{{ inventory_hostname }}"

- name: Configure features
  tags:
    - features
    - setup
  nxos_feature:
    feature: "{{ item }}"
    state: enabled
  loop:
    - ospf
    - pim
    - bgp
    - interface-vlan
    - nv overlay
    - vn-segment-vlan-based
 
- name: Configure global evpn as overlay
  tags:
    - setup
    - overlay_bgp
  nxos_evpn_global:
    nv_overlay_evpn: yes
     
- name: Configure loopback for ospf and bgp
  tags:
    - loopback_interfaces
  nxos_interfaces:
    config:
      - name: "{{ nve_loopback_int }}"
        description: 'Loopback for NVE'
        enabled: True
      - name: "{{ bgp_loopback_int }}" 
        description: 'Loopback for BGP'
        enabled: True
    state: replaced

- name: Configure interfaces to spines
  tags:
    - leaves_upstream_int
  nxos_interfaces:
    config: 
      - name: "{{ item }}"
        description: 'Interface towards Spine'
        mode: layer3
        enabled: True
    state: replaced
  loop: "{{ uplinks }}"

- name: Configure ip addresses of loopbacks
  tags:
    - ip_interfaces
  nxos_l3_interfaces:
    config:
      - name: "{{ nve_loopback_int }}"
        ipv4:
          - address: "{{ nve_loopback_ip }}"
      - name: "{{ bgp_loopback_int }}"
        ipv4:
          - address: "{{ bgp_loopback_ip }}"
    state: replaced

- name: Configure ip unnumbered addresses of interfaces
  tags:
    - un_interfaces
  nxos_config:
    lines:
      - medium p2p
      - ip unnumbered "{{ bgp_loopback_int }}"
    parents: "interface {{ item }}"
  loop: "{{ uplinks }}"

- name: Configure OSPF instance
  tags:
    - underlay_ospf
  nxos_ospf:
    ospf: underlay
    state: present

- name: Configure OSPF interfaces
  tags:
    - underlay_ospf
  nxos_interface_ospf:
    interface: "{{ item }}"
    ospf: underlay
    area: 0.0.0.0
    network: point-to-point
    state: present
  loop: "{{ uplinks + bgp_loopback_int + nve_loopback_int }}"

- name: Configure BGP instance
  tags:
    - overlay_bgp
  nxos_bgp:
    asn: "{{ as_number }}"
    state: present
    shutdown: no

- name: Configure spines as BGP neighbors
  tags:
    - overlay_bgp
  nxos_bgp_neighbor:
    asn: "{{ as_number }}"
    remote_as: "{{ hostvars[item].as_number }}"
    state: present
    shutdown: no
    update_source: "{{ bgp_loopback_int }}" 
    neighbor: "{{ hostvars[item].bgp_loopback_ip }}"
  loop: 
    "{{ groups[spines_group] }}"

- name: Configure BGP l2vpn evpn address-family
  tags:
    - overlay_bgp
  nxos_bgp_af:
    asn: "{{ as_number }}"
    afi: l2vpn
    safi: evpn
    vrf: default

- name: Configure BGP l2vpn evpn address-family for neighbors
  tags: 
    - overlay_bgp
  nxos_bgp_neighbor_af:
    asn: "{{ as_number }}"
    neighbor: "{{ hostvars[item].bgp_loopback_ip }}"
    afi: l2vpn
    safi: evpn
    send_community: extended
  loop: 
    "{{ groups[spines_group] }}"

- name: Configure NVE interface for VxLAN
  tags: 
    - vxlan_int
  nxos_vxlan_vtep:
      interface: nve1 
      description: "VTEP for VXLAN" 
      shutdown: no
      source_interface: "{{ nve_loopback_int }}" 
      host_reachability: yes

- name: Configure PIM interfaces
  tags: 
    - multicast
  nxos_pim_interface:
      interface: "{{ item }}" 
      state: present
      sparse: yes
  loop: "{{ downlinks + bgp_loopback_int + nve_loopback_int }}"

- name: Configure PIM RP towards "{{ anycast_rp_ip }}"
  tags: 
    - multicast
  nxos_pim_rp_address:
      rp_address: "{{ anycast_rp_ip }}"
      bidir: yes 
      state: present

- name: Test 1
  tags:
    - test
  debug:
    msg: "{{ inventory_hostname }}"

- name: Test 2
  tags:
    - test
  nxos_vxlan_vtep:
      interface: nve1 
      description: "VTEP for VXLAN" 
      shutdown: no
      source_interface: "{{ nve_loopback_int }}" 
      host_reachability: yes
  when: inventory_hostname == "93180-01"
  register: wynik

- name: Test 3
  tags:
    - test
  debug:
    var: wynik