- name: Set hostname
  tags:
    - setup
  nxos_system:
    hostname: "{{ inventory_hostname }}"

- name: Configure features
  tags:
    - features
  nxos_feature:
    feature: "{{ item }}"
    state: enabled
  loop:
    - ospf
    - pim
    - bgp
    - interface-vlan
    - nv overlay
    - vn-segment-vlan-based
      
- name: Configure loopback for ospf and bgp
  tags:
    - loopback_interfaces
  nxos_interfaces:
    config:
      - name: Loopback0
        description: 'Loopback for NVE'
        enabled: True
      - name: Loopback1
        description: 'Loopback for BGP'
        enabled: True
    state: replaced

- name: Configure interfaces to spines
  tags:
    - leaves_upstream_int
  nxos_interfaces:
    config: 
      - name: "{{ item }}"
        description: 'Interface towards Spine'
        mode: layer3
        enabled: True
    state: replaced
  loop: "{{ leaf_uplinks }}"

- name: Configure ip addresses of loopbacks
  tags:
    - ip_interfaces
  nxos_l3_interfaces:
    config:
      - name: Loopback0
        ipv4:
          - address: "{{ nve_loopback_ip }}"
      - name: Loopback1
        ipv4:
          - address: "{{ bgp_loopback_ip }}"
    state: replaced

- name: Configure ip unnumbered addresses of interfaces
  tags:
    - un_interfaces
  nxos_config:
    lines:
      - medium p2p
      - ip unnumbered Loopback0
    parents: "interface {{ item }}"
  loop: "{{ leaf_uplinks }}"

- name: Configure OSPF instance
  tags:
    - underlay_ospf
  nxos_ospf:
    ospf: underlay
    state: present

- name: Configure OSPF interfaces
  tags:
    - underlay_ospf
  nxos_interface_ospf:
    interface: "{{ item }}"
    ospf: underlay
    area: 0.0.0.0
    network: point-to-point
    state: present
  loop: "{{ leaf_uplinks + ['Loopback0'] + ['Loopback1'] }}"

- name: Configure BGP
  tags:
    - overlay_bgp
  nxos_bgp:
    asn: "{{ leaf_as_number }}"
    state: present
    shutdown: no

- name: Test
  tags:
    - test
  debug:
    var: item
  loop: 
    "{{ groups[spines_group] }}"