- name: Configure features
  tags:
    - features
  nxos_feature:
    feature: "{{ item }}"
    state: enabled
  loop:
    - ospf
    - pim
    - bgp

- name: Configure loopback for ospf and bgp
  tags:
    - loopback_interfaces
  nxos_interfaces:
    config:
      - name: Loopback0
        description: 'Loopback for multicast RP'
        mode: layer3
        enabled: True
      - name: Loopback1
        description: 'Loopback for BGP'
        mode: layer3
        enabled: True
    state: replaced

- name: Configure interfaces to leaves
  tags:
    - spines_downstream_int
  nxos_interfaces:
    config:
      - name: Ethernet 1/1
        description: 'Ethernet towards Leaf 1'
        mode: layer3
        enabled: True
      - name: Ethernet 1/2
        description: 'Ethernet towards Leaf 2'
        mode: layer3
        enabled: True
    state: replaced

- name: Configure ip addresses of loopbacks
  tags:
    - ip_interfaces
  nxos_l3_interfaces:
    config:
      - name: Loopback0
        ipv4:
          - address: {{ ip_spine_loopback0 }}
      - name: Loopback1
        ipv4:
          - address: {{ ip_spine_loopback1 }}
    state: replaced

- name: Configure ip unnumbered addresses of interfaces
  tags:
    - un_interfaces
  nxos_config:
    lines:
      - medium p2p
      - ip unnumbered Loopback0
    parents: "{{item}}"
  loop:
    - interface Ethernet 1/1
    - interface Ethernet 1/2

- name: Configure OSPF instance
  tags:
    - underlay_ospf
  nxos_ospf:
    ospf: underlay
    state: present

- name: Configure OSPF interfaces
  tags:
    - underlay_ospf
  nxos_interface_ospf:
    interface: "{{ item }}"
    ospf: underlay
    area: 0.0.0.0
    bfd: disable
    cost: default
    network: point-to-point
    state: present
  loop:
    - interface Ethernet 1/1
    - interface Ethernet 1/2

- name: Configure BGP
  tags:
    - overlay_bgp
  nxos_bgp:
    asn: {{ spine_asn_number}}
    state: present
    shutdown: no
  
