- name: Configure features
  tags:
    - features
  nxos_feature:
    feature: "{{ item }}"
    state: enabled
  loop:
    - ospf
    - pim
    - bgp

- name: Configure loopback for ospf and bgp
  tags:
    - loopback_interfaces
  nxos_interfaces:
    config:
      - name: Loopback0
        description: 'Loopback for OSPF'
        mode: layer3
        enabled: True
      - name: Loopback1
        description: 'Loopback for BGP'
        mode: layer3
        enabled: True
    state: replaced

- name: Configure interfaces to leaves
  tags:
    - spines_downstream_int
  nxos_interfaces:
    config:
      - name: Ethernet 1/1
        description: 'Ethernet towards Leaf 1'
        mode: layer3
        enabled: True
      - name: Ethernet 1/2
        description: 'Ethernet towards Leaf 2'
        mode: layer3
        enabled: True
    state: replaced

- name: Configure ip addresses of spine
  tags:
    - ip_interfaces
  nxos_l3_interfaces:
    config:
      - name: Loopback0
        ipv4:
          address: 192.168.1.1/24
      - name: Loopback1
        ipv4:
          address: 192.168.2.1/24
      - name: Ethernet 1/1
        ipv4:
          address: unnumbered Loopback0
      - name: Ethernet 1/2
        ipv4:
          address: unnumbered Loopback0
    state: replaced

- name: Configure OSPF
  tags:
    - underlay_ospf
  nxos_facts:
    gather_subset: all
    gather_network_resources: all
  register: all_facts

- name: Configure BGP
  tags:
    - overlay_bgp
  nxos_facts:
    gather_subset: all
    gather_network_resources: all
  register: all_facts

  
