- name: Set hostname
  tags:
    - setup
  nxos_system:
    hostname: "{{ ansible_host }}"

- name: Configure features
  tags:
    - features
  nxos_feature:
    feature: "{{ item }}"
    state: enabled
  loop:
    - ospf
    - pim
    - bgp

- name: Configure loopback for ospf and bgp
  tags:
    - loopback_interfaces
  nxos_interfaces:
    config:
      - name: Loopback0
        description: 'Loopback for multicast RP'
        enabled: True
      - name: Loopback1
        description: 'Loopback for BGP'
        enabled: True
    state: replaced

- name: Configure interfaces to leaves
  tags:
    - spines_downstream_int
  nxos_interfaces:
    config: 
      - name: "{{ item }}"
        description: 'Interface towards Leaf'
        mode: layer3
        enabled: True
    state: replaced
  loop: "{{ spine_downlinks }}"

- name: Configure ip addresses of loopbacks
  tags:
    - ip_interfaces
  nxos_l3_interfaces:
    config:
      - name: Loopback0
        ipv4:
          - address: "{{ ip_spine_loopback0 }}"
      - name: Loopback1
        ipv4:
          - address: "{{ ip_spine_loopback1 }}"
    state: replaced

- name: Configure ip unnumbered addresses of interfaces
  tags:
    - un_interfaces
  nxos_config:
    lines:
      - medium p2p
      - ip unnumbered Loopback0
    parents: "interface {{ item }}"
  loop: "{{ spine_downlinks }}"

- name: Configure OSPF instance
  tags:
    - underlay_ospf
  nxos_ospf:
    ospf: underlay
    state: present

- name: Configure OSPF interfaces
  tags:
    - underlay_ospf
  nxos_interface_ospf:
    interface: "{{ item }}"
    ospf: underlay
    area: 0.0.0.0
    network: point-to-point
    state: present
  loop: "{{ spine_downlinks + ['Loopback0'] + ['Loopback1'] }}|"

- name: Configure BGP
  tags:
    - overlay_bgp
  nxos_bgp:
    asn: "{{ spine_as_number }}"
    state: present
    shutdown: no
  
